td{
    width: 100px;
    height: 100px;
    cursor: pointer;
    text-align: center;
    background-color: lightgray;
    border-radius: 10px;
    border: 0px,solid white;
    font-size: 30px;
    color: white;
}
header{
    text-align: center;
}
#startbutton{

width: 200px;
height: 50px;
background-color: lightpink;
font-size:30px;
border: 0px;
border-radius: 10px;
}
table{
    padding-top: 30px;
    border: 0px,solid white;
}
div{
    margin: 0px auto;
    display: table;
}